.root {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;

  & .search {
    font-size: 20px;
    color: #656ec1;
    padding: 15px 15px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    outline: none;

    &::placeholder {
      color: #656ec1;
    }
  }

  & .counter {
    padding-top: 4px;
    margin: 0;
    font-size: 16px;
    color: #252424;
  }
}
